01-sentiment-analysis/datasets/musicoset_metadata/
01-sentiment-analysis/datasets/musicoset_popularity/
01-sentiment-analysis/datasets/musicoset_songfeatures/
01-sentiment-analysis/datasets/musicoset-dataset.rar
01-sentiment-analysis/notebook/.ipynb_checkpoints/sentiment-analysis-checkpoint.ipynb
